$colorerosso: #ff0000;
$font18: 18px;

.navbar{
    ul{
        list-style: none;
        text-align: center;
        li{
            display: inline;
            font-size: $font18;
            & :hover {
                color: $colorerosso;
            }
        }
    }
}