@use 'modulo';
$widthseconddiv: calc(100% / 3);
$font18: 18px;
$noHover: true;
$menucolors: (home:red , blog: yellow, about: green, contact:purple);

@each $voice, $color in $menucolors{
    .#{$voice} {
        color: $color;
            }
}

@mixin navbar-theme($theme) {
    @if $theme =='light' {
        background-color: white;

        li {
            a {
                color: black;

                &:hover {
                    color: modulo.$colorerosso;
                }
            }
        }
    }

    @else if $theme =='dark' {
        background-color: black;

        li {
            a {
                color: white;

                &:hover {
                    color: yellow;
                }
            }
        }
    }
}

@if $noHover == false {
    &:hover {
        color: green;
    }
}

.extend {
    background-color: #e7e7e7;
}

.navbar {
    ul {
        list-style: none;
        text-align: center;
        li {
            display: inline;
            font-size: $font18;
        }
        :nth-child(4) {
            @extend .extend;
            border: #333333, solid, 2px;
        }
    }
}

.navbarlight {
    @include navbar-theme('light');
}

.navbardark {
    @include navbar-theme('dark');
}

.primodiv {
    width: $widthseconddiv;
}

@function em($target, $content: 18px) {
    @return calc(($target / $content) * 1em);
}

.text-large {
    font-size: em(18px);
}

@for $i from 1 through 2 {
    $backgroundcolor: if($i == 1, lightgrey, darkgrey);
    .container div:nth-child(#{$i}) {
            background-color: $backgroundcolor;
        }
    }
