.paragrafo {
    color: blue;
    text-align: right;
}

.titles .titles_1 {
    color: aqua;
}

.titles .titles_2 {
    color: red;
}

.titles .titles_3 {
    color: yellow;
}

.titles .titles_4 {
    color: yellowgreen;
}

.titles .titles_5 {
    color: green;
}

.titles .titles_6 {
    color: gold;
}