* {
        margin: 0%;
}

.paragrafo {
    color: blue;
    text-align: right;
}

.titles .titles_1 {
    color: aqua;
}

.titles .titles_2 {
    color: red;
}

.titles .titles_3 {
    color: yellow;
}

.titles .titles_4 {
    color: yellowgreen;
}


.titles .titles_6 {
    color: gold;
}

#acca5 {
    background-color: black;
}

.font_test {
    font-size: 30px;
}

.center {
    text-align: center;
}

.border {
    border-style: solid;
    border-color: black;
}

a:hover {
    color: blue;
}

.list li:last-child {
    color: red;
}

.list li:nth-child(3) {
    color: red;
}

.classparagrafo {
    color: aquamarine;
}

#idparagrafo {
    color: violet;
}

.ereditarieta {
    color: violet;
    text-align: center;
}

#rgbcolor {
    color: rgb(255, 0, 0);
}

#hexcolor {
    color: #ff0000;
}